fastapi==0.129.0
uvicorn==0.41.0

python-dotenv==1.2.2
python-multipart==0.0.22

pydantic==2.12.5
pydantic_core==2.41.5

SQLAlchemy==2.0.46
psycopg2-binary==2.9.11
greenlet==3.3.2

passlib==1.7.4
bcrypt==4.0.1
python-jose==3.5.0
cryptography==46.0.6
ecdsa==0.19.1
rsa==4.9.1

email-validator==2.3.0

requests==2.33.1
httpx==0.28.1
urllib3==2.6.3
certifi==2026.2.25

PyPDF2==3.0.1
numpy==2.4.4

groq==1.1.2

google-api-core==2.30.2
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.1
googleapis-common-protos==1.74.0
google_search_results==2.4.2
grpcio==1.80.0
grpcio-status==1.75.1
proto-plus==1.27.2
protobuf==6.31.1

tavily-python==0.7.23

langchain-core
langchain-google-genai

slowapi==0.1.9
limits==5.8.0

tiktoken==0.12.0
tenacity==9.1.4
PyYAML==6.0.3
regex==2026.3.32

websockets==16.0